body{
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
 h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
 }
 h2{
    border-bottom: 2px solid black;

 }
figure{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin: 30px;
    padding: 15px;
}
figcaption  {
    margin-top: 10px;
}
.matriz-musicdot{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.familia-tupfeln{
    width: 275px;
   float: right;
}
figure img{
    width: 100%;
}